.App {
  text-align: center;
}

.input_box {
  width: 90%;
  max-width: 700px;
  margin: auto;
  text-align: left;
}

.input {
  flex-direction: column;
  display: flex;
  margin: 0.5em auto;
}

.results {
  width: 90%;
  max-width: 700px;
  margin: auto;
}

.result-item {
  margin: 0.25em auto;
  font-weight: 500;
  font-size: 0.8rem;
  width: 90%;
  text-align: left;
}
